<!DOCTYPE html>
<html>
<head>
    <title>BTCFPGA - FPGAS for Bitcoin</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/site.css">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
    <header id="header">
        <div class="container clearfix">
            <h1><a href="index.html">BTCFPGA</a></h1>
            <nav>
                <a href="" class="button green">Buy Now</a>
                <a href="">bASIC</a>
                <a href="" class="important">Login</a>
            </nav>
        </div>
    </header>
    <div id="content">
        <hgroup>
            <h1>The Game Changer is here</h1>
            <h2>Next generation Bitcoin mining hardware. Starting at just $599.99 for 27 Gh/s.</h2>
        </hgroup>
        <table class="compare">
            <thead>
                <tr>
                    <th></th>
                    <th class="product">27 GH/s bASIC</th>
                    <th class="product">54 GH/s bASIC</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="category">Price</th>
                    <td>$599.99</td>
                    <td>$1069.99</td>
                </tr>
                <tr>
                    <th class="category">Power Consumption</th>
                    <td>xxx kWh</td>
                    <td>xxx kWh</td>
                </tr>
                <tr>
                    <th class="category">Megahash per dollar</th>
                    <td>45</td>
                    <td>50.4</td>
                </tr>
                <tr>
                    <th class="category">In-the-box</th>
                    <td colspan="2">
                        <ul>
                            1 miniUSB cable & Bubble wrap
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th class="category">Delivery</th>
                    <td colspan="2">Expected delivery of November-December</td>
                </tr>
                <tr>
                    <th class="category">Warranty</th>
                    <td colspan="2">1 Year Full Warranty</td>
                </tr>
                <tr>
                    <th class="category">Shipping</th>
                    <td colspan="2">$30 USPS Priority Shipping World-wide</td>
                </tr>
            </tbody>
        </table>
        <section class="feature">
            <div class="blurb">
                <h3>Next generation</h3>
                <p>
                    Compared to soon-obsolete GPUS, ASICs offer much more effenciency and cost-effectiveness. Use up to 5 times less power than a traditional 4-card rig.
                </p>
                <p>
                    Cover your legacy GPU investment.
                </p>
            </div>
            <img src="">
        </section>
        <section class="feature odd">
            <img src="">
            <div class="blurb">
                <h3>Oh really?</h3>
                <p>
                    Compared to soon-obsolete GPUS, ASICs offer much more effenciency and cost-effectiveness. Use up to 5 times less power than a traditional 4-card rig.
                </p>
                <p>
                    Cover your legacy GPU investment.
                </p>
            </div>
        </section>
        <section class="feature">
            <div class="blurb">
                <h3>Yah rly!</h3>
                <p>
                    Compared to soon-obsolete GPUS, ASICs offer much more effenciency and cost-effectiveness. Use up to 5 times less power than a traditional 4-card rig.
                </p>
                <p>
                    Cover your legacy GPU investment.
                </p>
            </div>
            <img src="">
        </section>
        <div id="get-started">
            Pre-order yours today. Ships first-come-first-serve. <a href="" class="button green">Pre-order today</a>
        </div>
    </div>
    <footer id="footer">
        <div class="container">
            <nav>
                <a href="">Support</a>
                <a href="">Order Tracking</a>
                <a href="">Pricing</a>
            </nav>
            <span class="copyright">&copy; BTCFPGA 2012</span>
        </div>
    </footer>