<!DOCTYPE html>
<html>
<head>
    <title>BTCFPGA - FPGAS for Bitcoin</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/site.css">
</head>
<body>
    <header id="header">
        <div class="container clearfix">
            <h1><a href="index.html">BTCFPGA</a></h1>
            <nav>
                <a href="basic.html">bASIC</a>
                <a href="" class="important">Login</a>
            </nav>
        </div>
    </header>
    <section id="pitch">
        <div class="container clearfix">
            <div class="blurb">
                <h1>bASIC</h1>
                <p>Next generation Bitcoin mining hardware</p>
                <a class="cta button green">
                    Order Now &#9658;
                </a>
            </div>
            <div id="basic-intro">
                <h1>bASIC Models</h1>
                <div class="models clearfix">
                    <div class="model low-model">
                        <h2>54 GH/s</h2>
                        <h3>$1069.99</h3>
                        <span class="hint">or</span>
                    </div>
                    <div class="model high-model">
                        <h2>27 GH/s</h2>
                        <h3>$599.99</h3>
                    </div>
                </div>
                <div class="shipping">
                    Planned shippment November-December 2012
                </div>
            </div>
        </div>
    </section>
    <section id="products">
        <div class="container clearfix">
            <h2>Our Products</h2>
            <ul>
                <li>
                    <a href="asdf">
                        <img src="images/modminerquad.png">
                        <h3>ModMiner Quad</h3>
                    </a>
                </li>
                <li>
                    <a href="asdf">
                        <img src="images/backplane.png">
                        <h3>ModMiner Backplane</h3>
                    </a>
                </li>
                <li>
                    <a href="asdf">
                        <img src="images/backplane.png">
                        <h3>ModMiner Backplane</h3>
                    </a>
                </li>
                <li>
                    <a href="asdf">
                        <img src="images/backplane.png">
                        <h3>ModMiner Backplane</h3>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <section id="information">

    </section>
    <div class="page">
        <div class="container">
            <div id="help">
                <h1>Have a question?</h1>
                <ul>
                    <li>Discussion forums</li>
                    <li>#btcfpga on Freenode IRC</li>
                    <li>Email</li>
                </ul>
            </div>
        </div>
    </div>
    <footer id="footer">
        <div class="container">
            <nav>
                <a href="">Support</a>
                <a href="">Order Tracking</a>
                <a href="">Pricing</a>
            </nav>
            <span class="copyright">&copy; BTCFPGA 2012</span>
        </div>
    </footer>
</body>
</html>