#about #header {
	background: #333;
}

#about .about {
	padding: 50px 0 100px 0;
	background-color: #333;
}

#about .about h1 {
	color: #FFF;
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 20px;
}

#about #header {
	box-shadow: none;
}

#about #header h1, #about #header nav {
	opacity: .2;
}

#about .about h2 {
	font-size: 24px;
	color: #BFBFBF;
	line-height: 32px;
}

#about .intro {
	padding: 40px 0;
	text-align: center;
}

#about .intro h1 {
	color: #353637;
	font-size: 24px;
	margin-bottom: 5px;
}

#about .intro h2 {
	color: #717476;
	font-size: 22px;
}

#about .team {
	padding: 0 40px;
	margin: 40px -40px 0 -40px;
}

#about .team h2 {
	font-size: 20px;
	padding: 40px 0 30px 0;
	text-align: center;
}

#about .team ul {
	margin: 0 -30px;
}

#about .team ul li {
	width: 270px;
	margin: 0 30px 30px 30px;
	float: left;
}

#about .team img {
	border-radius: 5px;
}

#about .team ul h3 {
	font-size: 16px;
	margin: 15px 0;
	color: #333334;
}

#about .team ul p {
	line-height: 1.4;
	color: #727273;
}