#home #header {
	box-shadow: none;
	border-bottom: none;
	background: #333;
}

#home #header h1, #home nav#main {
	opacity: .4;
}

#home .page {
	background: #FFF;
	position: relative;
	z-index: 100;
}

/* Pitch */

#pitch {
	background: #333;
	overflow: hidden;
}

#pitch .blurb {
	color: #222;
	float: left;
	width: 400px;
	text-shadow: rgba(0, 0, 0, 1) 0 1px;
}

#pitch .blurb p {
	font-size: 14px;
	line-height: 1.7;
	margin-bottom: 15px;
	color: #AFAFB3;
}

#pitch .blurb p strong {
	font-weight: bold;
}

#pitch h1 {
	text-align: center;
	padding: 40px 0 60px 0;
	font-weight: bold;
	font-size: 30px;
	color: #EFF0F3;
	text-shadow: rgba(0, 0, 0, 1) 0 1px;
}

#pitch .buttons {
	margin-top: 30px;
}

#pitch .buttons a {
	font-size: 14px;
	padding: 12px 20px;
	display: inline-block;
}

#pitch .buttons span {
	margin: 0 6px;
	color: #FFF;
	font-weight: bold;
}

/* Pitch window */

#windows .window {
	background: #FFF;
	border-bottom: none;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	width: 420px;
	box-shadow: rgba(0, 0, 0, .5) 0 3px 6px;
}

#windows {
	float: right;
	position: relative;
	z-index: 10;
}

#windows .window.main {
	position: relative;
	z-index: 10;
	overflow: hidden;
}

#windows .window.first, #pitch .window.last {
	height: 400px;
	position: absolute;
}

#windows .window.first {
	left: -30px;
	top: 30px;
}

#windows .window.last {
	right: -30px;
	top: 60px;
}

#windows .window .low-model {
	float: left;
	border-right: 1px solid #ebebeb;
	padding-right: 10px;
	position: relative;
}

#windows .window .high-model {
	margin-left: 220px;
}

#windows .window .model {
	width: 200px;
}

#windows .window .hint {
	position: absolute;
	right: -13px;
	top: 13px;
	background: white;
	display: block;
	font-size: 18px;
	color: #b5b5b5;
	text-transform: uppercase;
}

#windows .window .models {
	margin: 50px 0;
}

#windows .window .title {
	background: #e5e5e5;
	display: block;
	line-height: 35px;
	text-align: center;
	color: #656565;

	/* Quick hax */
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#windows .window .model h2 {
	font-weight: 700;
	font-size: 34px;
	text-align: center;
	margin-bottom: 4px;
}

#windows .window .model h3 {
	text-align: center;
	font-size: 20px;
	color: #666666;
}

#windows .window .shipping {
	text-align: center;
	color: #666666;
	font-size: 15px;
	font-style: italic;
	padding-bottom: 50px;
}

/* Hack */

#home .page {
	position: relative;
	z-index: 10;
}

/* Order now 242D33 */

#home .order-now {
	text-align: center;
	padding: 40px 0 40px 0;
	background: #404040;
	font-size: 16px;
	color: #CCCCCC;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#home .order-now .button {
	padding: 8px 14px;
	margin: 0 20px;
}

/* Support */

#home .support {
	padding: 2px 0 40px;
}

#home .support ul {
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	overflow: hidden;
}

#home .support ul li {
	margin-right: 2px;
	float: left;
	width: 309px;
}

#home .support ul li a {
	padding: 20px;
	display: block;
	background: #E5E5E5;
	color: #656565;
	text-decoration: none;
	text-align: center;
}

#home .support .last {
	margin-right: 0;
	width: 308px;
}

#home .features {
	margin: 0 -30px;
	padding-bottom: 20px;
}

#home .features h2 {
	text-align: center;
	margin: 40px 0;
	font-size: 24px;
	color: #333334;
	font-weight: bold;
}

#home .features dl {
	width: 270px;
	margin: 0 30px 30px 30px;
	float: left;
}

#home .features dt {
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 4px;
	color: #3B3B3B;
}

#home .features dd {
	color: #79797A;
	line-height: 1.4;
}

#home .basic {
	background: #F2F2F2;
	padding-bottom: 40px;
}

#home .basic ul {
	background: #FFF;
	margin-top: 40px;
	overflow: hidden;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	border-radius: 5px;
}

#home .basic ul li {
	border-bottom: 1px solid #CCC;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0, 0, 0, 0.05)), color-stop(1, rgba(255, 255, 255, 0)));
}

#home .basic ul li.odd .blurb {
	margin-left: 510px;
	padding: 80px 60px 60px 0;
}

#home .basic ul li.odd img {
	float: left;
}

#home .basic .blurb {
	width: 360px;
	padding: 80px 0 60px 60px;
}

#home .basic .blurb h3 {
	font-size: 22px;
	margin-bottom: 6px;
	font-weight: 700;
}

#home .basic .blurb p {
	font-size: 14px;
	line-height: 1.6;
	margin-bottom: 10px;
	color: #666;
}

#home .basic ul li img {
	float: right;
}

#home .basic ul li.last {
	border-bottom: none;
}

#home .feature {
	padding: 50px 0 40px 0;
	border-bottom: 1px solid #D6D7D9;
}

/* Table */

#home .basic {
	-webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 0 inset;
	-moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 0 inset;
	box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 0 inset;
}

#home .basic .box {
	padding: 10px;
	background: #F2F2F2;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #7F7F7F;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px, rgba(255, 255, 255, 1) 0 1px 0 0 inset;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px, rgba(255, 255, 255, 1) 0 1px 0 0 inset;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px, rgba(255, 255, 255, 1) 0 1px 0 0 inset;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0, 0, 0, 0.05)), color-stop(1, rgba(255, 255, 255, 0)));
}

#home table.compare {
	width: 100%;
	font-size: 14px;
	background: #FFF;
	border: 1px solid #AFB3B6;
}

#home table.compare .product {
	font-size: 14px;
	font-weight: bold;
	color: #222;
	width: 160px;
}

#home table.compare th, table.compare td {
	border-left: 1px solid #AFB3B6;
	border-top: 1px solid #AFB3B6;
	vertical-align: middle;
}

#home table.compare th {
	padding: 12px;
}

#home table.compare td {
	text-align: center;
	color: #333333;
}

#home table.compare .category {
	font-size: 16px;
	font-weight: bold;
	color: #222;
}