#product .product {
	margin-top: 40px;
	border-radius: 10px;
	background: #FFF;
	overflow: hidden;
	position: relative;
}

#product .images {
	width: 570px;
	float: left;
}

#product .images .primary img {
	background: #FFF;
	padding: 20px;
	display: block;
	width: 530px;
	box-shadow: rgba(0, 0, 0, .2) 0 1px 3px;
}

#product .images ul {
	padding: 12px 6px 0 6px;
	background: #B2B2B2;
}

#product .images ul li {
	margin-bottom: 5px;
	float: left;
	margin: 0 6px 12px 6px;
}

#product .images ul li img {
	border-radius: 4px;
	padding: 4px;
	background: #FFF;
	display: block;
	width: 72px;
	box-shadow: rgba(0, 0, 0, .1) 0 1px 2px;
}

#product .information {
	position: absolute;
	padding: 30px 40px;
	top: 0;
	right: 0;
	bottom: 0;
	width: 280px;
	background: #727272;
	color: #FEFEFE;
	box-shadow: rgba(0, 0, 0, .2) -1px 0 3px;
}

#product .information header {
	position: relative;
	padding-bottom: 16px;
	border-bottom: 1px solid #585858;
}

#product .information header h2 {
	font-size: 24px;
	line-height: 1.2;
	text-shadow: rgba(0, 0, 0, 1) 0 -1px;
}

#product .information header .brand {
	font-weight: bold;
	color: #FEFEFE;
}

#product .information header .status {
	float: right;
	color: #3F3F3F;
	margin-top: 6px;
	font-size: 16px;
	text-shadow: rgba(255, 255, 255, .2) 0 1px;
}

#product .information .price {
	font-size: 24px;
	font-weight: bold;
	color: #FEFEFE;
	margin-bottom: 16px;
	float: left;
	text-shadow: rgba(0, 0, 0, 1) 0 -1px;
	line-height: 35px;
}

#product .information .description {
	border-top: 1px solid #7F7F7F;
	border-bottom: 1px solid #585858;
	padding-top: 16px;
	color: #BEBEBE;
	text-shadow: rgba(0, 0, 0, .3) 0 1px;
}

#product .information .description p {
	margin-bottom: 16px;
	line-height: 18px;
}

#product .information .description ul {
	margin-bottom: 16px;
}

#product .information .description li + li {
	margin-top: 4px;
}

#product .information .description ol {
	padding-left: 30px;
	margin-bottom: 16px;
}

#product .information .description ul {
	padding-left: 30px;
}

#product .information .description ul li {
	list-style-type: square;
}

#product .information .specs {
	border-top: 1px solid #7F7F7F;
	padding-top: 16px;
	color: #3F3F3F;
	text-shadow: rgba(255, 255, 255, .2) 0 1px;
}

#product .information .specs li + li {
	margin-top: 4px;
}

#product .information ul li strong {
	font-weight: bold;
}

/* Add to cart */

#product .add {
	padding: 14px 0;
	border-bottom: 1px solid #585858;
	border-top: 1px solid #7F7F7F;
	text-align: right;
}

#product .add input {
	padding: 0 10px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px 0 inset, white 0 1px 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px 0 inset, white 0 1px 0;
	box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px inset;
	border: 1px solid #000;
	border-radius: 4px;
	display: inline-block;
	line-height: 34px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

#product .add button {
	padding: 0 14px;
	display: inline-block;
	line-height: 34px;
}

/* Showcase */

#product .products {
	margin: 0 -20px;
}

#product .products li {
	float: left;
	overflow: hidden;
	width: 443px;
	margin: 0 20px 40px 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #7F7F7F;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

#product .products li img {
	box-shadow: rgba(0, 0, 0, .1) 0 1px 2px;
	padding: 12px;
	width: 419px;
	background: #FFF;
	display: block;
}

#product .products li h3 {
	background: #FAFAFA;
	color: #222;
	font-size: 16px;
	font-weight: bold;
	padding: 12px 0;
	position: relative;
	text-align: center;
	z-index: 1;
	text-shadow: rgba(255, 255, 255, 1) 0 1px;
	border-bottom: 1px solid #404040;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px, rgba(255, 255, 255, 1) 0 0 0 1px inset;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px, rgba(255, 255, 255, 1) 0 0 0 1px inset;
	box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px, rgba(255, 255, 255, 1) 0 0 0 1px inset;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0, 0, 0, 0.05)), color-stop(1, rgba(255, 255, 255, 0)));
}

#product .review {
	margin-top: 40px;
}

#product .review ul li {
	padding: 30px 0;
	text-shadow: rgba(255, 255, 255, .5) 0 1px;
	position: relative;
	margin-bottom: 6px;
	border-bottom: 1px solid #D8D8D8;
}

#product .review ul li h3 {
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 8px;
}