/* CSS Reset */

.clearfix {
  *zoom: 1;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}

.clearfix:after {
  clear: both;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
  font-family: inherit;
}


/* General */

body {
	font-size: 13px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #F2F2F2;
	color: #404040;
	-webkit-font-smoothing: antialiased;
}

a {
	color: #0b6cb4;
}

.container {
	margin: 0 auto;
	width: 930px;
	position: relative;
}


/* Header */

#header {
	height: 70px;
	background: #333334;
	box-shadow: rgba(0, 0, 0, .2) 0 1px 3px;
	position: relative;
	z-index: 1000;
}

#header h1 {
	float: left;
	margin-top: 18px;
}

#header h1 a {
	color: #EEEEF3;
	font-weight: 700;
	font-size: 30px;
	text-decoration: none;
}

/* Main nav */

nav#main {
	float: right;
	margin-top: 28px;
}

nav#main a {
	margin-left: 20px;
	text-decoration: none;
	color: #999999;
}

/* Footer */

#footer {
	padding: 30px 0;
}

#footer nav {
	margin-right: 60px;
	float: left;
}

#footer nav h3 {
	font-weight: bold;
	font-size: 15px;
	color: #78787A;
	margin-bottom: 8px;
	text-shadow: rgba(255, 255, 255, .8) 0 -1px;
}

#footer nav li {
	padding-bottom: 6px;
}

#footer nav li a {
	color: #B7B7BA;
	text-decoration: none;
	padding-bottom: 6px;
	text-shadow: rgba(255, 255, 255, .6) 0 -1px;
}

#footer .brand {
	color: #939596;
	float: right;
}

#footer .brand h1 {
	font-weight: 700;
	font-size: 30px;
	text-shadow: rgba(255, 255, 255, .8) 0 -1px;
}

/* Toasty breadcrumbs */

#breadcrumbs {
	padding: 12px 0;
	background: #7F7F7F;
}

#breadcrumbs .container	{
}

#breadcrumbs a {
	text-decoration: none;
	color: #CBCBCB;
}

/* Empty */

.empty {
	padding: 50px 0 100px 0;
	text-align: center;
}

.empty span {
	font-size: 120px;
	color: #cccccc;
	text-shadow: rgba(0, 0, 0, .4) 0 -1px;
	font-weight: bold;
}

.empty h2 {
	font-size: 20px;
	color: #666666;
}

/* Content */

#content {
	padding: 30px 60px;
	background: #FFF;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px;
}

#content.full {
	margin: 50px 30px 0 30px;
}

#content.normal {
	width: 820px;
	margin: 50px auto 0 auto;
}

#content .part {
	width: 500px;
	float: left;
}

#content aside {
	float: right;
	width: 250px;
}

#content header {
	margin-bottom: 30px;
	padding-bottom: 30px;
	font-weight: bold;
	border-bottom: 1px solid #E5E5E5;
	text-align: center;
}

#content header h1 {
	font-size: 34px;
	color: #222;
}

#content header h2 {
	color: #666666;
	font-size: 18px;
	margin-top: 10px;
}

#content p {
	margin-bottom: 20px;
}

#content h3{
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 8px;
}

#content ol {
	list-style-type: lower-alpha;
	padding-left: 40px;
}

#content ol li {
	margin-bottom: 15px;
	line-height: 20px;
}

#content p {
	line-height: 20px !important;
}

/* Pages */

.page {
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -2px 4px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -2px 4px;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -2px 4px;
	position: relative;
	z-index: 10;
}

.page .header {
	padding: 40px 0;
	text-align: center;
}

.page .header h1 {
	color: #353637;
	font-weight: bold;
	font-size: 30px;
}

.page .header h2 {
	color: #717476;
	font-size: 18px;
	margin-top: 5px;
}

/* Elements */

a.button {
	text-decoration: none;
}

.button {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
	text-align: center;
	font-weight: 700;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

.button.green {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ABD904), color-stop(50%, #9DC703), color-stop(51%, #96BE03), color-stop(100%, #88AD03));
	background-image: -webkit-linear-gradient(#ABD904, #9DC703 50%, #96BE03 51%, #88AD03);
	background-image: -moz-linear-gradient(#ABD904, #9DC703 50%, #96BE03 51%, #88AD03);
	background-image: -o-linear-gradient(#ABD904, #9DC703 50%, #96BE03 51%, #88AD03);
	background-image: linear-gradient(#ABD904, #9DC703 50%, #96BE03 51%, #88AD03);
	-webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.3) 0 1px 3px;
	-moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.3) 0 1px 3px;
	box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.3) 0 1px 3px;
	border: 1px solid #000;
	color: #FFF;
	text-shadow: rgba(0, 0, 0, .4) 0 1px 1px;
}

.button.green:active {
	background: #9DC703;
}

/* Columns */

#view {
	margin-top: 40px;
	border-radius: 4px;
	position: relative;
}

#column-left {
	left: 0;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

#column-right {
	right: 0;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.side-column {
	background: #FAFAFA;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px;
	position: absolute;
	width: 200px;
	top: 5px;
	bottom: 5px;
	text-shadow: rgba(255, 255, 255, .9) 0 -1px;
}

.side-column h4 {
	text-transform: uppercase;
	font-weight: bold;
	padding: 20px 0 0 24px;
	color: #939393;
}

.side-column ul {
	margin: 6px 0 8px 26px;
}

.side-column ul li:before {
	content: "•";
	color: #CCC;
	padding-right: 7px;
}

.side-column ul li {
	margin-bottom: 4px;
}

.side-column ul li a {
	color: #6C6C6C;
	text-decoration: none;
}

.right-content {
	margin-left: 200px;
}

.left-content {
	margin-right: 200px;
}

#content2 {
	width: 670px;
	min-height: 220px;
	padding: 30px 30px 25px 30px;
	background: #FFF;
	position: relative;
	z-index: 1;
	border-radius: 5px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px;
	overflow: hidden;
}

.box {
	padding: 30px 30px 25px 30px;
}

#content2 header, .box header {
	border: 1px solid #000000;
	margin: -30px -30px 25px -30px;
	padding: 18px 30px;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #454545), color-stop(50%, #404040), color-stop(51%, #383838), color-stop(100%, #333333));
	background-image: -webkit-linear-gradient(#454545, #404040 50%, #383838 51%, #333333);
	background-image: -moz-linear-gradient(#454545, #404040 50%, #383838 51%, #333333);
	background-image: -o-linear-gradient(#454545, #404040 50%, #383838 51%, #333333);
	background-image: linear-gradient(#454545, #404040 50%, #383838 51%, #333333);
	-webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 0 inset, rgba(0, 0, 0, 0.2) 0 1px 1px;
	-moz-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 0 inset, rgba(0, 0, 0, 0.2) 0 1px 1px;
	box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 0 inset, rgba(0, 0, 0, 0.2) 0 1px 1px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	color: #FFF;
}

#content2 header h1, .box header h1 {
	font-size: 24px;
	float: left;
	font-weight: bold;
	text-shadow: rgba(0, 0, 0, 1) 0 -1px;
}

#content2 header .stock {
	float: right;
	margin-top: 10px;
	text-shadow: rgba(0, 0, 0, .1) 0 1px;
}

#content2 header .extra {
	float: right;
	margin-top: 6px;
	font-size: 16px;
	text-shadow: rgba(0, 0, 0, .4) 0 1px;
	color: #FFF;
}

#content2 header a.extra {
	text-decoration: none;
}

#content2 header .button {
	padding: 4px 8px;
	font-size: 13px;
	margin-top: 0;
}

#content2 .form-actions {
	margin: -25px -30px -25px -30px;
}

#content2 fieldset {
	border-top: 1px solid #EEE;
}

.form-row {
	padding: 10px 0;
}

legend {
	font-weight: bold;
	font-size: 16px;
	padding-right: 20px;
	margin-bottom: 15px;
}

fieldset {
	margin-bottom: 50px;
}

fieldset .description {
	margin-bottom: 20px;
	color: #666;
}

fieldset p {
	margin: -10px 0 15px 0;
}

.form-row label {
	float: left;
	width: 130px;
	text-align: right;
	margin-top: 10px;
	color: #666666;
}

.form-input {
	margin-left: 150px;
	line-height: 37px;
}

.form-actions {
	background: #FAFAFA;
	border-top: 1px solid #F5F5F5;
	padding: 20px 30px;
	text-align: right;
}

.form-actions .final {
	float: left;
	margin-top: 8px;
}

.form-actions .final input {
	margin-right: 10px;
}

.form-actions .button {
	padding: 8px 12px;
}

.form-actions .secondary {
	float: left;
}

.form-actions .primary {
	float: right;
}

.form-actions a.secondary {
	font-weight: bold;
	text-decoration: none;
	margin-top: 9px;
}

.form-row .required {
	font-weight: bold;
}

.form-input	input, .form-input textarea {
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px 0 inset, white 0 1px 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px 0 inset, white 0 1px 0;
	box-shadow: rgba(0, 0, 0, 0.08) 0 1px 0 0 inset;
	border: 1px solid #cccccc;
	padding: 11px;
	width: 80%;
}

.form-row .error {
	margin-left: 150px;
	color: #BF0000;
	padding-top: 4px;
}

.form-row.error .form-input {
	margin-bottom: 4px;
}

.form-row.error input {
	border-color: #BF0000;
}

/* Contact Us */

#contact {}

#contact .contact form {
	float: left;
}

#contact .contact aside {
	background: #F2F2F2;
	padding: 20px;
	border-radius: 5px;
}

/* Notifications */

.notification, .warning {
	padding: 15px 20px;
	margin: -25px -30px 25px -30px;
	border-bottom: 1px solid transparent;
	margin-bottom: 1px solid #000;
}

.notification.error, .warning {
	color: #B94A48;
	background-color: #F2DEDE;
	border-color: #EED3D7;
}

.notification.success {
	color: #468847;
	background-color: #DFF0D8;
	border-color: #D6E9C6;
}