/* CSS Reset */

.clearfix {
  *zoom: 1;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}

.clearfix:after {
  clear: both;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
  font-family: inherit;
}


/* General */

body {
	font-size: 13px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #FFF;
	-webkit-font-smoothing: antialiased;
}

a {
	color: #0b6cb4;
}

.container {
	margin: 0 auto;
	width: 930px;
	position: relative;
}

/* Header */

#header {
	height: 69px;
	margin: 0 -1px;
	background: url(../image/header.png) #333;
	-webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(255, 255, 255, .2) 0 0 0 1px inset;
	-moz-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(255, 255, 255, .2) 0 0 0 1px inset;
	box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(255, 255, 255, .2) 0 0 0 1px inset;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	position: relative;
	z-index: 1000;
}

#header h1 {
	float: left;
	margin-top: 22px;
}

#header h1 a {
	color: #FFF;
	font-weight: bold;
	font-size: 26px;
	text-decoration: none;
	text-shadow: rgba(0, 0, 0, 1) 0 1px;
}

/* Sub heading */

h1.heading {
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	margin: 40px 0;
	text-shadow: rgba(255, 255, 255, 1) 0 1px;
}

/* Main nav */

nav#main {
	float: right;
	margin-top: 28px;
}

nav#main a {
	margin-left: 20px;
	text-decoration: none;
	color: #BFBFBF;
	text-shadow: rgba(0, 0, 0, .7) 0 1px;
}

/* Wrap */

#wrap {
	background: #F2F2F2;
}

/* Footer */

#footer {
	padding: 50px 0;
	border-top: 1px solid #E5E5E5;
}

#footer nav {
	margin-right: 60px;
	float: left;
}

#footer nav h3 {
	font-weight: bold;
	font-size: 15px;
	color: #727272;
	margin-bottom: 12px;
}

#footer nav li {
	padding-bottom: 6px;
}

#footer nav li a {
	color: #B2B2B2;
	text-decoration: none;
	padding-bottom: 6px;
	line-height: 18px;
}

#footer .brand {
	color: #727272;
	float: right;
}

#footer .brand h1 {
	font-weight: bold;
	font-size: 30px;
}

/* Toasty breadcrumbs */

#breadcrumbs {
	padding: 12px 0;
	background: #7F7F7F;
}

#breadcrumbs .container	{
}

#breadcrumbs a {
	text-decoration: none;
	color: #CBCBCB;
}

/* Empty */

.empty {
	padding: 50px 0 100px 0;
	text-align: center;
}

.empty span {
	font-size: 120px;
	color: #E5E5E5;
	text-shadow: rgba(0, 0, 0, .4) 0 -1px;
	font-weight: bold;
}

.empty h2 {
	font-size: 20px;
	color: #7F7F7F;
	margin-top: 10px;
}

/* Content */

.box {
	background: #FFF;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px;
	width: 730px;
	margin: 0 auto;
}

.box header {
	padding: 40px 40px 45px 40px;
	text-align: center;
	background: url(../image/pageheader-bg.png) no-repeat 0 100%;
}

.box header h1 {
	font-size: 28px;
	color: #222;
	font-weight: bold;
}

.box header h2 {
	color: #666666;
	font-size: 18px;
	margin-top: 10px;
}

/* Elements */

a.button {
	text-decoration: none;
}

.button {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
	text-align: center;
	font-weight: bold;
}

.button.green {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ABD904), color-stop(50%, #9DC703), color-stop(51%, #96BE03), color-stop(100%, #88AD03));
	background-image: -webkit-linear-gradient(#ABD904, #9DC703 50%, #96BE03 51%, #88AD03);
	background-image: -moz-linear-gradient(#ABD904, #9DC703 50%, #96BE03 51%, #88AD03);
	background-image: -o-linear-gradient(#ABD904, #9DC703 50%, #96BE03 51%, #88AD03);
	background-image: linear-gradient(#ABD904, #9DC703 50%, #96BE03 51%, #88AD03);
	-webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.3) 0 1px 3px;
	-moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.3) 0 1px 3px;
	box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.3) 0 1px 3px;
	border: 1px solid #000;
	color: #FFF;
	text-shadow: rgba(0, 0, 0, .4) 0 1px 1px;
}

.button.green:active {
	background: #9DC703;
}

/* Columns */

#view {
	margin-top: 40px;
	margin-bottom: 40px;
	border-radius: 4px;
	position: relative;
}

#column-left {
	left: 0;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

#column-right {
	right: 0;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.side-column {
	background: #FAFAFA;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px;
	position: absolute;
	width: 200px;
	top: 5px;
	bottom: 5px;
	text-shadow: rgba(255, 255, 255, .9) 0 -1px;
}

.side-column h4 {
	text-transform: uppercase;
	font-weight: bold;
	padding: 20px 0 0 24px;
	color: #939393;
}

.side-column ul {
	margin: 6px 0 8px 26px;
}

.side-column ul li:before {
	content: "•";
	color: #CCC;
	padding-right: 7px;
}

.side-column ul li {
	margin-bottom: 4px;
}

.side-column ul li a {
	color: #6C6C6C;
	text-decoration: none;
}

.right-content {
	margin-left: 200px;
}

.left-content {
	margin-right: 200px;
}

#content2 {
	width: 652px;
	min-height: 220px;
	padding: 30px 40px 30px 40px;
	background: #FFF;
	position: relative;
	z-index: 1;
	border-radius: 5px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px;
	overflow: hidden;
}

#content2 header {
	border: 1px solid #000000;
	margin: -30px -40px 30px -40px;
	padding: 18px 30px;
	position: relative;
	z-index: 2;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #454545), color-stop(50%, #404040), color-stop(51%, #383838), color-stop(100%, #333333));
	background-image: -webkit-linear-gradient(#454545, #404040 50%, #383838 51%, #333333);
	background-image: -moz-linear-gradient(#454545, #404040 50%, #383838 51%, #333333);
	background-image: -o-linear-gradient(#454545, #404040 50%, #383838 51%, #333333);
	background-image: linear-gradient(#454545, #404040 50%, #383838 51%, #333333);
	-webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 0 inset, rgba(0, 0, 0, 0.2) 0 1px 1px;
	-moz-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 0 inset, rgba(0, 0, 0, 0.2) 0 1px 1px;
	box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 0 inset, rgba(0, 0, 0, 0.2) 0 1px 1px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	color: #FFF;
}

#content2 header h1 {
	font-size: 24px;
	float: left;
	font-weight: bold;
	text-shadow: rgba(0, 0, 0, 1) 0 -1px;
}

#content2 header .stock {
	float: right;
	margin-top: 10px;
	text-shadow: rgba(0, 0, 0, .1) 0 1px;
}

#content2 header .extra {
	float: right;
	margin-top: 4px;
	font-size: 16px;
	text-shadow: rgba(0, 0, 0, .4) 0 1px;
	color: #FFF;
}

#content2 header a.extra {
	text-decoration: none;
}

#content2 header .button {
	padding: 4px 8px;
	font-size: 13px;
	margin-top: 0;
}

#content2 .notification, #content2 .warning {
	margin: -30px -40px 25px -40px;
}

.form-row .required {
	font-weight: bold;
}

/* Global input */

textarea, input[type="text"], input[type="password"] {
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 2px 0 inset;
	-moz-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 2px 0 inset;
	box-shadow: rgba(0, 0, 0, 0.15) 0 1px 2px inset;
	border: 1px solid #B2B2B2;
	border-radius: 4px;
}

/* Horizontal forms */

form.horizontal fieldset {
	margin-bottom: 30px;
	padding-top: 23px;
	border-top: 1px solid #EEE;
}

form.horizontal p {
	margin: -13px 0 30px 0;
	color: #7F7F7F;
}

form.horizontal .form-row {
	padding: 10px 0;
}

form.horizontal hr {
	background: #EEE;
	height: 1px;
	margin: 30px 0;
	border: 0;
}

form.horizontal legend {
	padding-right: 20px;
	font-weight: bold;
	font-size: 15px;
}

form.horizontal .form-row label {
	float: left;
	width: 140px;
	text-align: right;
	line-height: 34px;
	color: #404040;
}

form.horizontal .form-input {
	margin-left: 160px;
	line-height: 32px;
}

form.horizontal .form-input.captcha input {
	width: 214px;
	margin-right: 10px;
	float: left;
}

form.horizontal .form-input.captcha img {
	float: left;
}

form.horizontal textarea, form.horizontal input[type="text"], form.horizontal input[type="password"] {
	width: 85%;
	padding: 10px;
}

form.horizontal .form-row .error {
	margin-left: 160px;
	color: #BF0000;
	padding-top: 4px;
}

form.horizontal .form-row.error .form-input {
	margin-bottom: 4px;
}

form.horizontal .form-row.error input, .form-row.error textarea {
	border-color: #BF0000;
}

.form-actions {
	padding: 20px 25px;
	border-top: 1px solid #E0E0E0;
	background: #FAFAFA;
	margin: 0 -40px -30px -40px;
	box-shadow: rgba(0, 0, 0, .05) 0 -1px 2px
}

.form-actions .button {
	padding: 8px 12px;
}

.form-actions .primary {
	float: right;
}

.form-actions .secondary {
	float: left;
}

.form-actions a.secondary {
	text-decoration: none;
	font-weight: bold;
	margin-top: 10px;
}

.form-actions label.secondary {
	margin-top: 10px;
}

.form-actions label.secondary input[type="checkbox"] {
	margin-right: 10px;
}

.select2-container {
	width: 80%;
}

/* Contact Us */

#contact .contact {
	margin-bottom: 40px;
}

#contact .contact form {
	float: left;
	width: 600px;
	background: #FFF url(../image/mail.png) repeat-x -10% -15px;
	padding: 40px 40px 30px 40px;
	overflow: hidden;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

#contact .contact aside {
	float: right;
	width: 220px;
	padding-top: 30px;
}

#contact .contact aside address {
	line-height: 20px;
	font-size: 14px;
}

#contact .contact aside h3 {
	font-weight: bold;
	line-height: 18px;
	margin-bottom: 8px;
}

/* Success */

.success .banner {
	text-align: center;
	width: 600px;
	margin: 0 auto -25px auto;
	position: relative;
	z-index: 5;
}

.success .banner .check {
	font-size: 50px;
	text-align: center;
	background: #FFF;
	width: 100px;
	height: 100px;
	line-height: 100px;
	margin: 0 auto;
	border-radius: 50px;
	box-shadow: rgba(0, 0, 0, .3) 0 1px 3px;
}

.success .summary {
	background: #FFF;
	text-align: center;
	width: 460px;
	margin: 0 auto 40px auto;
	padding: 40px 30px 30px 30px;
	border-radius: 5px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px;
	box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px;
}

.success .summary p {
	line-height: 1.4;
	font-size: 14px;
	margin-bottom: 18px;
}

/* Notifications */

.notification, .warning {
	padding: 15px 20px;
	border-bottom: 1px solid transparent;
	margin-bottom: 1px solid #000;
}

.notification.error, .warning {
	color: #B94A48;
	background-color: #F2DEDE;
	border-color: #EED3D7;
}

.notification.success {
	color: #468847;
	background-color: #DFF0D8;
	border-color: #D6E9C6;
}